<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fraction_info_medium.css') }}">
    <title>Razlomci Info lak nivo</title>
</head>

<body>
    <div class="container">
        <header class="task-header">
            <h1>Razlomci srednji nivo</h1>
        </header>
        <section class="task-section">
            <div class="task">
                
                <p>Postoje tri tipa zadataka sa razlomcima: proširivanje razlomaka, skraćivanje razlomaka i sabiranje
                    razlomaka.</p>

                <p>Svaki tip zadatka ima 3 nivoa težine: lak, srednji i težak nivo. Korisnik bira broj zadataka i
                    težinu, dok će
                    aplikacija slučajnim izborom odabrati tip.</p>
            </div>


            <div class="task">
                <h3>Proširivanje razlomaka</h3>
                <p> <small class="title_task">Tekst zadatka:</small>  ,,Proširi razlomak <small><math> <mfrac> <mrow> <mn>a</mn> </mrow> <mrow> <mn>b</mn> </mrow> </mfrac> </math></small>  sa c."</p>
                <p>Imenilac razlomka će biti slučajno odabran broj između 15 i 30, a brojilac slučajno odabran broj
                    između 20 i
                    30.</p>
                <p>Broj sa kojim se proširuje razlomak će biti slučajno odabran broj između 11 i 15.</p>
            </div>

            <div class="task">
                <h3>Skraćivanje razlomaka</h3>
                <p><small class="title_task">Tekst zadatka:</small> ,,Skrati razlomak <small><math> <mfrac> <mrow> <mn>a</mn> </mrow> <mrow> <mn>b</mn> </mrow> </mfrac> </math></small>  sa c."</p>
                <p>Imenilac i brojilac razlomka će biti slučajno odabrani brojevi između 11 i 30.</p>
                <p>Broj sa kojim treba da se skrati razlomak će biti slučajno odabran broj između 2, 3 ili 5.</p>
            </div>

            <div class="task">
                <h3>Sabiranje razlomaka</h3>
                <p><small class="title_task">Tekst zadatka:</small> ,,Saberi razlomke <small><math> <mfrac> <mrow> <mn>a</mn> </mrow> <mrow> <mn>b</mn> </mrow> </mfrac> </math></small>  i <small><math> <mfrac> <mrow> <mn>c</mn> </mrow> <mrow> <mn>d</mn> </mrow> </mfrac> </math></small> ."</p>
                <p>Razlomci imaju različite imenioce. 
                    Imenilac drugog razlomka je slučajno odabran broj između 4 i 12, dok je brojilac slučajno odabran broj između 1 i 11.
                   </p>
                    <p> Imenilac prvog razlomka je duplo veći od imenioca drugog razlomka, brojilac slučajno odabran broj između 1 i 23.</p>
            </div>


        </section>
    </div>
</body>

</html>